version: '3.8'

services:
  db:
    image: postgres
    environment:
      - POSTGRES_DB=realestate
      - POSTGRES_USER=mattruddy
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - ./.postgres/data:/var/lib/postgresql/data
  reit:
    image: reit:latest
    expose:
      - 8080
    ports:
      - 8080:8080
    depends_on:
      - db
      - payment
    links:
      - db
      - payment
  payment:
    image: openach/openach:latest
    volumes:
      - ./runtime:/home/www/openach/protected/runtime
      - ./config:/home/www/openach/protected/config
      - ./ssl/openach:/etc/ssl/openach
    ports:
      - 8081:80
    expose:
      - 8081
  cli:
    image: openach/openach:latest
    volumes:
      - ./runtime:/home/www/openach/protected/runtime
      - ./config:/home/www/openach/protected/config
      - ./ssl/openach:/etc/ssl/openach
    entrypoint: "/home/www/openach/protected/openach"
    command: "help"